<div id="theme" [ngClass]="theme">
  <app-layout></app-layout>
</div>
<div class="input-group">
  <select class="custom-select" (change)="changeThemes($event)">
    <option selected>Choose Theme...</option>
    <option value="lightBlue-theme">Light Blue</option>
    <option value="darkBlue-theme">Dark Blue</option>
    <option value="lightOrange-theme">Light Orange</option>
    <option value="darkOrange-theme">Dark Orange</option>
    <option value="simple-theme">Simple</option>
  </select>
</div>
